<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %} Home {% endblock %} - Login Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% endblock %}
</head>
<body>

    <div class="container" >
        <div id="content text-cente">
         {% block content %}
         <h1>You may now login</h1><br>
         <form action="" method="post">
            <label for="mail">Email Address:</label><br>
            <input type="text" name="email"><br>
            <label for="passw">Password:</label><br>
            <input type="password" name="myPassword"><br><br>
            <input type="submit" class="btn btn-success">
        </form>
         {% if error %}
            <br><p class="error"><strong class="text-danger">Error:</strong> {{ error }}</p>
         {% endif %}
         {% endblock %}
        </div>
    </div>
</body>
</html>